
* {
  margin: 0px;
  padding: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Modak&display=swap");
.navbar-brand,
.notFound {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 25px !important;
}
.fa-shopping-cart {
  font-size: 20px !important;
  color: black !important;
  margin-right: 10px;
}
.fa-shopping-cart:hover {
  font-size: 24px !important;
  color: red !important;
  margin-right: 10px;
}
.nav-link {
  margin-right: 5px !important;
  color: black !important;
  text-decoration: none !important ;
  font-weight: 400;
  font-size: large;
}
.nav-link:hover {
  margin-right: 5px !important;
  color: rgb(165, 165, 165) !important;
  text-decoration: none !important ;
  font-weight: bold;
  font-size: 15px;
}

/* Home */
.homeProduct {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  color: turquoise;
}
.center{
  margin-top: 150px !important;
  margin-left:100px !important;
}
.imageCenter{
  margin-top: 50px !important;
}


/* Footer */
.footer{
  width: 100%;
  height: 45px;
  position: fixed;
}
.footer > p{
  margin-top: 10px;
  font-family: "Aclonica", sans-serif;
  font-size: 15px;
  text-align: center;
}
.beside{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.fa-plus-circle{
  font-size: 25px !important;
  color:royalblue !important;
  cursor: pointer;
}
.fa-paper-plane{
  font-size: 25px !important;
  margin-right: 10px !important;
  color: greenyellow;
}

/* Product */




/* Cart or Basket */
.cartEmpty,h4{
  font-family: "Aclonica", sans-serif;
}
.cart-empty{
  text-align: center;
  margin-top:200px;
}
.box{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  width: 1000px !important;
  height: 400px !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.box1{
  margin-bottom: 100px;
}
.beside1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.priceInc{
  font-size: 35px !important;
  font-family: "Aclonica", sans-serif;
  font-weight: bold;
}
.transaction{
  margin-top:30px !important;
}